{
    "trailingComma": "all",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "object-property-newline": [
        {"allowMultiplePropertiesPerLine": false}
    ]
}
